@using SUCRMS.Models
@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<Department> departments = ViewBag.Department;
}

<section class="content-header">
    <h1>
        Department
        <small>View</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Department</a></li>
        <li class="active">View</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-sm-12">
            <div class="box box-primary col-sm-12">
                <div class="box-header with-border">
                    <div class="col-sm-12">
                        @Html.ActionLink("Add New", "Save", "Department", new { @class = "btn btn-primary btn-sm" })
                    </div>
                    @*<h3 class="box-title" style="">All Department</h3>*@
                </div>
                <div class="box-body">
                    <table border="1" class="table table-bordered table-condensed" id="view">
                        <thead>
                        <tr>
                            <th>Code</th>
                            <th>Name</th>
                        </tr>
                        </thead>
                        <tbody>
                        @if (departments != null)
                        {

                            foreach (Department department in departments)
                            {
                                <tr>

                                    <td>@department.Code</td>
                                    <td>@department.Name</td>
                                </tr>

                            }
                        }
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</section>
<script src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>
<script src="~/Scripts/DataTables/responsive.bootstrap.min.js"></script>
<script>
    $(document).ready(function () {

        $('#view').DataTable();
    });
</script>