
@{
    ViewBag.Title = "UnAllocateClassrooms";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content-header">
    <h1>
        Unallocate All Classrooms

    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i>Unallocate All Classrooms</a></li>

    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-sm-12">
            <div class="box box-primary col-sm-12">
                <div class="col-sm-8 col-sm-offset-2">
                 
                    <!-- /.box-header -->
                    <!-- form start -->
                    @using (Html.BeginForm("UnAllocateClassrooms", "AllocateClassroom", FormMethod.Post, new { @class = "form-horizontal", @id = "unallocate" }))
                    {

                        if (ViewBag.Message != null)
                        {
                            if (ViewBag.Message == "UnAllocate Classrooms Successfully")
                            {
                                <div class="col-sm-12"></div>
                                <div class="alert alert-success" id="success-alert">
                                    <button type="button" class="close" data-dismiss="alert">x</button>
                                    <strong>Successfull! </strong>
                                    <p>All Classrooms has been Unallocated</p>
                                </div>
                            }
                            else
                            {
                                <div class="col-sm-12">
                                    <div class="alert alert-error" id="success-alert">
                                        <button type="button" class="close" data-dismiss="alert">x</button>
                                        <strong>Faild! </strong>
                                        <p>@ViewBag.Message</p>
                                    </div>
                                </div>
                            }

                        }
                        @Html.ValidationSummary(true)
                        <div class="box-body">
                            <div class="col-sm-12 text-center" style="padding: 20px">
                                <button type="submit" class="btn btn-danger btn-Lg" onclick="Submit();">Unallocate All Classrooms </button>
                            </div>

                            <div class="box-footer">
                                

                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>

</section>

<script type="text/javascript">
    $(document).ready(function () {

        $(function () {
            $("#unallocate").submit(function (e) {
                
                var r = confirm("Are you sure that you want to Unallocate all Classrooms?");
                if (r != true) {
                    e.preventDefault();
                }
            });
        });

    });
</script>
